.navbar3-wrapper {
  display: contents;
}
 
.navbar3-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar3-thq-navbar-interactive-elm {
  width: 100%;
  display: flex;
  max-width: idth;
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: space-between;
}
 
.navbar3-thq-image1-elm {
  height: 3rem;
}
 
.navbar3-thq-desktop-menu-elm {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.navbar3-thq-links-elm1 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.navbar3-thq-dropdown1 {
  cursor: pointer;
  display: inline-block;
  padding: 4px 8px;
  position: relative;
  border-color: rgba(0, 0, 0, 0.45);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}
 
.navbar3-thq-dropdown-toggle1 {
  gap: 4px;
  display: inline-flex;
  align-items: center;
}
 
.navbar3-thq-dropdown-arrow1 {
  transition: 0.3s;
}
 
.navbar3-icon10 {
  width: 18px;
  height: 18px;
}
 
.navbar3-thq-dropdown-list1 {
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  flex-direction: column;
  list-style-type: none;
}
 
.navbar3-link1 {
  display: contents;
}
 
.navbar3-icon12 {
  width: 19px;
  height: 26px;
  text-decoration: none;
}
 
.navbar3-thq-icon-group-elm1 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-items: center;
  margin-left: var(--dl-layout-space-twounits);
}
 
.navbar3-link2 {
  display: contents;
}
 
.navbar3-icon14 {
  text-decoration: none;
}
 
.navbar3-icon16 {
  width: 21px;
  height: 19px;
}
 
.navbar3-thq-burger-menu-elm {
  display: none;
}
 
.navbar3-icon18 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar3-thq-mobile-menu-elm {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-layout-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar3-thq-nav-elm {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar3-thq-top-elm {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.navbar3-thq-logo-elm {
  height: 3rem;
}
 
.navbar3-thq-close-menu-elm {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar3-icon20 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar3-thq-links-elm2 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar3-thq-dropdown2 {
  cursor: pointer;
  display: inline-block;
  padding: 4px 8px;
  position: relative;
  border-color: rgba(0, 0, 0, 0.45);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}
 
.navbar3-thq-dropdown-toggle2 {
  gap: 4px;
  display: inline-flex;
  align-items: center;
}
 
.navbar3-thq-dropdown-arrow2 {
  transition: 0.3s;
}
 
.navbar3-icon22 {
  width: 18px;
  height: 18px;
}
 
.navbar3-thq-dropdown-list2 {
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  flex-direction: column;
  list-style-type: none;
}
 
.navbar3-thq-icon-group-elm2 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
}
 
.home-fragment1 {
  display: contents;
}
 
.home-text1 {
  display: inline-block;
}
 
.home-fragment2 {
  display: contents;
}
 
.home-text2 {
  display: inline-block;
}
 
.home-fragment3 {
  display: contents;
}
 
.home-text3 {
  display: inline-block;
}
 
.home-fragment4 {
  display: contents;
}
 
.home-text4 {
  display: inline-block;
}
 
.home-fragment5 {
  display: contents;
}
 
.home-text5 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .navbar3-thq-navbar-interactive-elm {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .navbar3-thq-desktop-menu-elm {
    display: none;
  }
  .navbar3-thq-burger-menu-elm {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .navbar3-thq-navbar-interactive-elm {
    padding: var(--dl-layout-space-unit);
  }
  .navbar3-thq-mobile-menu-elm {
    padding: var(--dl-layout-space-unit);
  }
}

.home-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-fragment1 {
  display: contents;
}
 
.home-text1 {
  display: inline-block;
}
 
.home-fragment2 {
  display: contents;
}
 
.home-text2 {
  display: inline-block;
}
 
.home-fragment3 {
  display: contents;
}
 
.home-text3 {
  display: inline-block;
}
 
.home-fragment4 {
  display: contents;
}
 
.home-text4 {
  display: inline-block;
}
 
.home-fragment5 {
  display: contents;
}
 
.home-text5 {
  display: inline-block;
}
 
.home-container2 {
  width: 100%;
  height: 454px;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
.home-link {
  display: contents;
}
 
.home-container3 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.home-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.home-text6 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
